<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" type="text/javascript">
    </script>
    <script>

        $(document).ready(function () {
            $("#submit").click(function () {
                //alert("clicked submit");
                $.ajax({
                    url: '/AddressBook/GetAddressBook',
                    type: 'Get',
                    context: $('#context')
                },callback);
            });
        });
        function callback(ajaxResponse, targetElement) { }
    </script>
</head>
<body>

    <label>First Name:</label>
    <textarea></textarea>
    <label>Last Name:</label>
    <textarea></textarea>
    <label>Telephone Number:</label>
    <textarea></textarea>
    <button id="submit">Submit</button>
    <button id="search">Search</button>
    <button id="delete">Delete</button>
    <label>Search Result:</label>
    <textarea id="context"></textarea>

</body>
</html>


